body{
    padding: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    
    background: rgb(209, 173, 173);
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section__content {
    border: 2px solid #000;
    background: url(../img/vtor\ \(2\).svg), url(../img/photo-1655083974309-6e03a3966021.webp);
    background-repeat: no-repeat;
    background-position:  90% 10%, center;
    background-size:  50px 50px, cover;
    background-attachment: fixed, scroll;
    margin-bottom: 100px;
}

.content__inner {
    padding: 20px;
}
h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
p {

}

.block {
    background: url(../img/photo-1655143655221-fafdcaebcec4.webp) no-repeat center;
    background-size: cover;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    margin-bottom: 100px;
}